<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="row ml-20 mr-20">
                <div class="col-md-12">
                    <div class="card-body">
                        <div class="col-md-12">
                            <mat-search-bar class="form-group m-0 m-5 f-r" [(ngModel)]="value" type='text' name="product_name" [(ngModel)]="product_name" (ngModelChange)="search()" placeholder="Search Product Name">
                            </mat-search-bar>
                        </div><br><br>
                        <div class="table-responsive">
                            <table id="example" class="table width-100">
                                <thead class="text">
                                    <tr>
                                        <td class="font-weight-bold">#</td>
                                        <td class="font-weight-bold">Category</td>
                                        <td class="font-weight-bold">Product Name</td>
                                        <td class="font-weight-bold">Technical Name</td>
                                        <td class="font-weight-bold">Raw Material Name</td>
                                    </tr>
                                </thead><br>
                                <ng-container *ngIf="isProgressBar" class="m-20 p-20">
                                    <td colspan="5">
                                        <mat-progress-bar mode="indeterminate">
                                        </mat-progress-bar>
                                    </td>
                                </ng-container>
                                <ng-container class="align-items-center m-20 text-center" *ngIf="is_data">
                                    <p class="fs-16 fw-400">No Data Available.</p>
                                </ng-container>
                                <tbody *ngIf="is_table">
                                    <tr *ngFor="let data of arr_product_data | paginate: {id:'pagination_product',itemsPerPage:entries_per_page,currentPage:p}; let i = index">
                                        <td>{{ data.index }}</td>
                                        <td appColor [data]="data.category_color">{{ data.category_names }}</td>
                                        <td appColor [data]="data.category_color" >{{ data.product_name }} </td>
                                        <td>{{ data.product_technical_name }}</td>
                                        <td>
                                            <div class="font-weight-bold">
                                                <ng-container *ngFor="let name of data.raw_material_names.split(',')">
                                                    <div><span class="fas fa-arrow-right"></span>&nbsp;&nbsp;{{ name }}</div>
                                                </ng-container>
                                            </div>
                                        </td>
                                    </tr><br>
                                </tbody><br>
                            </table>
                            <div class="row">
                                <div class="col-md-6">
                                    <pagination-controls id="pagination_product" (pageChange)="p = $event" class="f-l"></pagination-controls>
                                </div>
                                <div class="col-md-6 z-index-9">
                                    <mat-form-field appearance="fill" class="width-22 f-r">
                                        <mat-label>Entries per page</mat-label>
                                        <mat-select id='entries_per_page' [(value)]="entries_per_page" [(ngModel)]="entries_per_page" (selectionChange)="pagination($event)">
                                            <mat-option value="10">10</mat-option>
                                            <mat-option value="20">20</mat-option>
                                            <mat-option value="35">35</mat-option>
                                            <mat-option value="40">40</mat-option>
                                            <mat-option value="50">50</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>