<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="row row-title">
                <div class="col-md-6">
                    <span class="fs-20 fw-600">Sell</span>
                </div>
                <div class="col-md-6">
                    <button mat-flat-button class="float-right save" data-toggle="collapse" data-target="#sell" id="collapseButton" aria-expanded="false" aria-controls="collapseExample">
                        <span class="fas fa-plus"></span>&nbsp;&nbsp;Sell Product
                    </button>  
                </div>
            </div>
            <div class="row ml-20 mr-20">
                <div class="col-md-12">
                    <div class="collapse" id="sell">
                        <div class="card-body">
                            <form class="sellForm" [formGroup]="sellForm">
                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-form-field appearance="fill" [formGroup]="sellForm">
                                            <mat-label>Customer Name</mat-label>
                                            <mat-select formControlName="customer_id" required>
                                                <mat-option *ngFor="let data of obj_customer_data" [value]="data.customer_id">{{ data.customer_name }}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field appearance="fill" [formGroup]="sellForm">
                                            <mat-label>Category Name</mat-label>
                                            <mat-select formControlName="category_id" (selectionChange)="productCategoryChange($event)" required>
                                                <ng-container *ngFor="let data of category">
                                                    <mat-option value="{{ data.category_id }}">{{ data.category_name }}</mat-option>
                                                </ng-container>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>  
                                     <div class="col-md-4">
                                        <mat-form-field appearance="fill" [formGroup]="sellForm" *ngIf="is_product_enable">
                                            <mat-label>Product Name</mat-label>
                                            <mat-select formControlName="product_id" (selectionChange)="productChange($event)" required>
                                                <mat-option *ngFor="let data of arr_product_from_category" [value]="data.product_id">
                                                    {{ data.product_name }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field appearance="fill" [formGroup]="sellForm" *ngIf="is_inventory_enable">
                                            <mat-label>Inventory</mat-label>
                                            <mat-select formControlName="inventory_id" (selectionChange)="inventoryChange($event)" required>
                                                <mat-option *ngFor="let data of arr_inventory_from_product" [value]="data.inventory_id">
                                                    {{ data.inventory_name }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field class="form-field" [formGroup]="sellForm" *ngIf="is_inventory_enable">
                                            <!-- [(ngModel)]="quantity" (keyup)="printNumber()" -->
                                            <!-- min="1" max="qty" oninput="this.value = Math.abs(this.value)" -->
                                            <input matInput formControlName="product_quantity" min="1"  [(ngModel)]="quantity" (keyup)="printNumber()" class="p-0" placeholder="Product Quantity" required>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <button mat-flat-button type="reset" class="reset pull-right c-b"><span class="fas fa-redo"></span>&nbsp;&nbsp;Reset</button>
                                <button mat-flat-button type="reset" data-toggle="collapse" data-target="#sell" class="cancel pull-right mr-2"><span class="fas fa-times"></span>&nbsp;&nbsp;Cancel</button>
                                <button mat-flat-button type="submit" class="save pull-right mr-2" (click)="insertSellDetails()"><span class="fas fa-save"></span>&nbsp;&nbsp;Sell Product</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="m-0 mt-10">
            <div class="row ml-20 mr-20">
                <div class="col-md-12">
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="col-md-12">
                                <mat-search-bar class="form-group m-0 m-5 f-r" [(ngModel)]="value" type='text' name="customer_name" [(ngModel)]="customer_name" (ngModelChange)="search()" placeholder="Search Customer Name">
                                </mat-search-bar>
                            </div>
                            <table id="example" class="table table-custome width-100">
                                <thead class="text">
                                    <th>
                                        <div class="d-flex">
                                            <div class="align-items-center d-flex min-width-50">#</div>
                                            <div class="flex-even justify-content-start" scope="col">Customer Name</div>
                                            <div class="flex-even justify-content-start" scope="col">Category Name</div>
                                            <div class="flex-even justify-content-start" scope="col">Product Name</div>
                                            <div class="flex-even justify-content-start" scope="col">Inventory Name</div>
                                            <div class="flex-even justify-content-start" scope="col">Product Quantity</div>
                                            <div class="flex-even justify-content-end" scope="col">Action</div>
                                        </div>
                                    </th>
                                </thead>
                                <div *ngIf="isProgressBar" class="m-20 p-20">
                                    <mat-progress-bar mode="indeterminate">
                                    </mat-progress-bar>
                                </div>
                                <div class="align-items-center m-20 text-center" *ngIf="is_data">
                                    <p class="fs-16 fw-400">No Data Available.</p>
                                </div>
                                <tbody *ngIf="is_table">
                                    <tr *ngFor="let data of sell_data | paginate: {id:'pagination_sell',itemsPerPage:entries_per_page,currentPage:p}; let i = index">
                                        <td>
                                            <div class="top_row">
                                                <div class="d-flex">
                                                    <div class="align-items-center d-flex min-width-50">{{ data.index }}</div>
                                                    <div class="flex-even justify-content-start">{{ data.customer_name }}</div>
                                                    <div class="flex-even justify-content-start">{{ data.category_name }}</div>
                                                    <div class="flex-even justify-content-start">{{ data.product_name }}</div>
                                                    <div class="flex-even justify-content-start">{{ data.inventory_name }}</div>
                                                    <div class="flex-even justify-content-start">{{ data.product_quantity }}</div>
                                                    <div class="flex-even justify-content-end">
                                                        <button mat-stroked-button (click)="deleteSellItem(data.sell_id)"><span class="fa fa-trash c-red"></span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <div class="row">
                                        <div class="col-md-6 mt-3">
                                            <pagination-controls id="pagination_sell" (pageChange)="p = $event"  class="f-l"></pagination-controls>
                                        </div>
                                        <div class="col-md-6 z-index-9">
                                            <mat-form-field appearance="fill" class="width-22 f-r">
                                                <mat-label>Entries per page</mat-label>
                                                <mat-select id='entries_per_page' [(value)]="entries_per_page" [(ngModel)]="entries_per_page" (selectionChange)="pagination($event)">
                                                    <mat-option value="10">10</mat-option>
                                                    <mat-option value="20">20</mat-option>
                                                    <mat-option value="35">35</mat-option>
                                                    <mat-option value="40">40</mat-option>
                                                    <mat-option value="50">50</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>      
    </div>
</div>