.main-content{
    margin-top: -20px;
    .form-field{
        margin-top: 13px !important;
        width: 100%;
    }
    .table-custome{
        width: 100% !important;
        overflow: auto !important;
    }
}