<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="row ml-20 mr-20">
                <div class="col-md-12">
                    <div class="card-body">
                        <div class="col-md-12">
                            <mat-search-bar class="form-group m-0 m-5 f-r" [(ngModel)]="value" type='text' name="productName" [(ngModel)]="productName" (ngModelChange)="search()" placeholder="Search Product Name">
                            </mat-search-bar>
                        </div><br><br>
                        <div class="table-responsive">
                            <table id="example" class="table width-100">
                                <thead class="text font-weight-bold">
                                    <th>#</th>
                                    <th>Category</th>
                                    <th>Product Name</th>
                                    <th>Technical Name</th>
                                    <th>Raw Material Name</th>
                                </thead><br>
                                <ng-container *ngIf="isProgressBar">
                                    <td colspan="5" class="border-none"> 
                                        <mat-progress-bar mode="indeterminate">   
                                        </mat-progress-bar>
                                    </td>
                                </ng-container>
                                <ng-container *ngIf="isData">
                                    <td colspan="5" class="align-items-center m-20 text-center"> 
                                       <p class="fs-16 fw-400 mt-20">No Data Available.</p>
                                    </td>
                                </ng-container>
                                <ng-container *ngIf="isTable">
                                    <tbody *ngFor="let data of productData | paginate: {id:'pagination',itemsPerPage:entriesPerPage,currentPage:p}; let i = index">
                                        <tr>
                                            <td>{{ data.index }}</td>
                                            <td appColor [data]="data.category_color">{{ data.category_names }}</td>
                                            <td appColor [data]="data.category_color" >{{ data.product_name }} </td>
                                            <td>{{ data.product_technical_name }}</td>
                                            <td>
                                                <div class="font-weight-bold">
                                                    <ng-container *ngFor="let name of data.raw_material_names.split(',')">
                                                        <div><span class="fas fa-arrow-right"></span>&nbsp;&nbsp;{{ name }}</div>
                                                    </ng-container>
                                                </div>
                                            </td>
                                        </tr><br>
                                    </tbody><br>
                                </ng-container>
                            </table>
                            <ng-container *ngIf="isTable">
                                <div class="row">
                                    <div class="col-md-6">
                                        <pagination-controls id="pagination" (pageChange)="p = $event" class="f-l"></pagination-controls>
                                    </div>
                                    <div class="col-md-6 z-index-9">
                                        <mat-form-field appearance="fill" class="width-22 f-r">
                                            <mat-label>Entries per page</mat-label>
                                            <mat-select id='entriesPerPage' [(value)]="entriesPerPage" [(ngModel)]="entriesPerPage" (selectionChange)="pagination($event)">
                                                <mat-option value="10">10</mat-option>
                                                <mat-option value="20">20</mat-option>
                                                <mat-option value="35">35</mat-option>
                                                <mat-option value="40">40</mat-option>
                                                <mat-option value="50">50</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>