<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="row row-title f-l">
                <span class="ml-5 fs-20 fw-600">Raw Material</span>
            </div>
            <hr class="m-0 mt-10">
            <div class="row ml-20 mr-20">
                <div class="col-md-12">
                    <div class="card-body">
                        <div class="col-md-12">
                            <mat-search-bar class="form-group m-0 m-5 f-r" [(ngModel)]="value" type='text' name="raw_material_name" [(ngModel)]="raw_material_name" (ngModelChange)="search()" placeholder="Search Raw Material Name">
                            </mat-search-bar>
                        </div>
                        <div class="table-responsive">
                            <table class="table" style="white-space: nowrap !important">
                                <thead class="text sticky-top">
                                    <tr>
                                        <!-- <div class="d-flex"> -->
                                            <th class="">#</th>
                                            <th class="">Raw Material Name</th>
                                            <th class="">Quantity</th>
                                            <th class="">Unit</th>
                                        <!-- </div> -->
                                    </tr>
                                </thead>
                                <tr *ngIf="isProgressBar" class="border-none">
                                    <td colspan="7"> 
                                        <mat-progress-bar mode="indeterminate">   
                                        </mat-progress-bar>
                                    </td>
                                </tr>
                                <div class="m-20 text-center" *ngIf="is_data">
                                    <p class="fs-16 fw-400">No Data Available.</p>
                                </div>
                                <tbody *ngIf="is_table">
                                    <tr *ngFor="let data of arr_raw_data | paginate: {id:'pagination_raw',itemsPerPage:entries_per_page,currentPage:p}; let i = index">
                                        <!-- <td> -->
                                            <!-- <div class="top_row rawMaterialTable"> -->
                                                <!-- <div class="d-flex"> -->
                                                    <td class="">{{ data.index }}</td>
                                                    <td class="">{{ data.raw_material_name }}</td>
                                                    <td class="">{{ data.raw_material_quantity }}</td>
                                                    <td class="">{{ data.raw_material_unit }}</td>
                                                <!-- </div> -->
                                            <!-- </div> -->
                                        <!-- </td> -->
                                    </tr><br>
                                    <div class="row">
                                        <div class="col-md-6 mt-3">
                                            <pagination-controls id="pagination_raw" (pageChange)="p = $event" class="f-l">
                                            </pagination-controls>
                                        </div>
                                        <div class="col-md-6 z-index-9">
                                            <mat-form-field appearance="fill" class="width-22 f-r">
                                                <mat-label>Entries per page</mat-label>
                                                <mat-select id='entries_per_page' [(value)]="entries_per_page" [(ngModel)]="entries_per_page" (selectionChange)="pagination($event)">
                                                    <mat-option value="10">10</mat-option>
                                                    <mat-option value="20">20</mat-option>
                                                    <mat-option value="35">35</mat-option>
                                                    <mat-option value="40">40</mat-option>
                                                    <mat-option value="50">50</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </tbody><br>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row row-title">
                <div class="col-md-6">
                    <span class="fs-20 fw-600">Import Raw Material</span>
                </div>
                <div class="col-md-6">
                    <button mat-flat-button class="float-right save" type="button" data-toggle="collapse" id="collapseCard" data-target="#import">
                        <span class="fas fa-plus"></span>&nbsp;&nbsp;Import Raw Material
                    </button>
                </div>
            </div>
            <div class="row ml-20 mr-20">
                <div class="col-md-12">
                    <div class="collapse" id="import">
                        <div class="card-body">
                            <form class="importRawMaterialForm" [formGroup]="importRawMaterialForm">
                                <div class="row">
                                    <div class="col-md-3 align-items-center d-flex">
                                        <mat-select class="line fs-15 fw-400" formControlName="import_raw_material_name" (selectionChange)="importRawMaterialChange($event)" placeholder="Raw Material Name" #singleSelect>
                                            <mat-option>
                                                <ngx-mat-select-search [formControl]="raw_material_FilterCtrl" placeholderLabel="Search here!"></ngx-mat-select-search>
                                            </mat-option>
                                            <mat-option *ngFor="let data of filtered_raw_material_name | async" [value]="data.raw_material_name">
                                                {{ data.raw_material_name }}
                                            </mat-option>
                                        </mat-select>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field class="form-field" [formGroup]="importRawMaterialForm">
                                            <!-- [(ngModel)]="unit" (keyup)="printNumber()" -->
                                            <input matInput class="p-0" formControlName="raw_material_quantity" [(ngModel)]="unit" (keyup)="printNumber()" placeholder="Raw Material Quantity">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field class="form-field" [formGroup]="importRawMaterialForm">
                                            <input matInput [readonly]="true" class="p-0" formControlName="import_raw_material_unit" placeholder="Raw Material Type">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="d-flex">
                                            <input readonly class="form-control mt-15 bg-white date-picker" formControlName="import_raw_material_date" placeholder="DD MMMM YY" [matDatepicker]="newPicker" (click)="newPicker.open()" #newDate>
                                            <mat-datepicker #newPicker></mat-datepicker>
                                        </div>
                                    </div>
                                </div><br>
                                <button mat-flat-button type="reset" class="reset pull-right ml-2 c-b"><span class="fas fa-redo"></span>&nbsp;&nbsp;Reset</button>
                                <button mat-flat-button type="reset" data-toggle="collapse" data-target="#import" class="cancel pull-right ml-2"><span class="fas fa-times"></span>&nbsp;&nbsp;Cancel</button>
                                <button mat-flat-button type="submit" class="save pull-right" (click)="importRawMaterial()"><span class="fas fa-save"></span>&nbsp;&nbsp;Import Raw Material</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <br> -->
            <hr class="m-0 mt-10">
            <div class="row ml-20 mr-20">
                <div class="col-md-12">
                    <div class="card-body overflow-hidden">
                        <div class="col-md-12">
                            <mat-search-bar class="form-group m-0 m-5 f-r" [(ngModel)]="value1" type='text' name="import_raw_material_name" [(ngModel)]="import_raw_material_name" (ngModelChange)="searchImport()" placeholder="Search Raw Material Name">
                            </mat-search-bar>
                        </div>
                        <div class="table-responsive">
                            <table id="example" class="table table-custome width-100">
                                <thead class="text">
                                    <tr>
                                        <!-- <div class="d-flex"> -->
                                            <th class="">#</th>
                                            <th class="">Date</th>
                                            <th class="">Raw Material Name</th>
                                            <th class="">Quantity</th>
                                            <th class="">Unit</th>
                                            <th class="">Action</th>
                                        <!-- </div> -->
                                    </tr>
                                </thead>
                                <div *ngIf="isProgressBar_import" class="m-20 p-20">
                                    <mat-progress-bar mode="indeterminate">
                                    </mat-progress-bar>
                                </div>
                                <div class="align-items-center m-20 text-center" *ngIf="is_data_import">
                                    <p class="fs-16 fw-400">No Data Available.</p>
                                </div>
                                <tbody *ngIf="is_table_import">
                                    <tr *ngFor="let data of arr_import_data | paginate: {id:'pagination_import',itemsPerPage:entries_per_page_import,currentPage:p_import}; let i = index">
                                        <!-- <td> -->
                                            <!-- <div class="top_row"> -->
                                                <!-- <div class="d-flex"> -->
                                                    <td class="">{{ data.index }}</td>
                                                    <td class="">{{ data.import_raw_material_date | date: 'dd/MMMM/yyyy' }}</td>
                                                    <td class="">{{ data.import_raw_material_name }}</td>
                                                    <td class="" >{{ data.raw_material_quantity }}</td>
                                                    <td class="">{{ data.import_raw_material_unit }}</td>
                                                    <td class="">
                                                        <button mat-stroked-button class="ml-3" (click)="deleteImportRawMaterial(data.raw_material_id,data.tbl_import_raw_material_id,data.import_raw_material_name,data.raw_material_quantity,data.import_raw_material_date)"><span class="fa fa-trash c-red"></span></button>
                                                    </td>
                                                <!-- </div>
                                            </div>
                                        </td> -->
                                    </tr><br>
                                    <div class="row">
                                        <div class="col-md-6 mt-3">
                                            <pagination-controls id="pagination_import" (pageChange)="p_import = $event" class="f-l">
                                            </pagination-controls>
                                        </div>
                                        <div class="col-md-6 z-index-9">
                                            <mat-form-field appearance="fill" class="width-22 f-r">
                                                <mat-label>Entries per page</mat-label>
                                                <mat-select id='entries_per_page_import' [(value)]="entries_per_page_import" [(ngModel)]="entries_per_page_import" (selectionChange)="paginationImport($event)">
                                                    <mat-option value="10">10</mat-option>
                                                    <mat-option value="20">20</mat-option>
                                                    <mat-option value="35">35</mat-option>
                                                    <mat-option value="40">40</mat-option>
                                                    <mat-option value="50">50</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>