<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="row row-title">
                <div class="col-md-6">
                    <span class="fs-20 fw-600">Raw Material</span>
                </div>
                <div class="col-md-6">
                    <button mat-flat-button class="float-right save" type="button" data-toggle="collapse" id="collapseButton" data-target="#rawMaterial" aria-expanded="false" aria-controls="collapseExample">
                        <span class="fas fa-plus"></span>&nbsp;&nbsp;Add Raw Material
                    </button>
                </div>
            </div>
            <div class="row ml-20 mr-20">
                <div class="col-md-12">
                    <div class="collapse border-none" id="rawMaterial">
                        <div class="card-body">
                            <form class="rawMaterialForm" [formGroup]="rawMaterialForm">
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="form-field">
                                            <input matInput class="p-0" formControlName="raw_material_name" placeholder="Raw Material Name">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Units</mat-label>
                                            <mat-select formControlName="raw_material_unit">
                                                <mat-option value="Liter">Litre</mat-option>
                                                <mat-option value="Kilogram">Kilogram</mat-option>
                                                <mat-option value="Tone">Ton</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div><br>
                                <button mat-flat-button type="reset" class="reset pull-right ml-2 c-b"><span class="fas fa-redo"></span>&nbsp;&nbsp;Reset</button>
                                <button mat-flat-button type="reset" data-toggle="collapse" data-target="#rawMaterial" class="cancel pull-right ml-2"><span class="fas fa-times"></span>&nbsp;&nbsp;Cancel</button>
                                <button mat-flat-button type="button" class="save pull-right" (click)="insertRawMaterial()"><span class="fas fa-save"></span>&nbsp;&nbsp;Add Raw Material</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="m-0 mt-10">
            <div class="row ml-20 mr-20">
                <div class="col-md-12">
                    <div class="card-body">
                        <div class="col-md-12">
                            <mat-search-bar class="form-group m-0 m-5 f-r" [(ngModel)]="value" type='text' name="raw_material_name" [(ngModel)]="raw_material_name" (ngModelChange)="search()" placeholder="Search Raw Material Name">
                            </mat-search-bar>
                        </div>
                        <div class="table-responsive">
                            <table class="hover table table-custome width-100">
                                <thead class="text sticky-top">
                                    <th>
                                        <div class="d-flex">
                                            <div class="align-items-center d-flex min-width-85">#</div>
                                            <div class="flex-even justify-content-start" scope="col">Raw Material Name</div>
                                            <div class="flex-even justify-content-center" scope="col">Quantity</div>
                                            <div class="flex-even justify-content-center" scope="col">Unit</div>
                                            <div class="flex-even justify-content-end z-index-8" scope="col">Action
                                            </div>
                                        </div>
                                    </th>
                                </thead>
                                <div *ngIf="isProgressBar" class="m-20 p-20">
                                    <mat-progress-bar mode="indeterminate">
                                    </mat-progress-bar>
                                </div>
                                <div class="m-20 text-center" *ngIf="is_data">
                                    <p class="fs-16 fw-400">No Data Available.</p>
                                </div>
                                <tbody *ngIf="is_table">
                                    <tr *ngFor="let data of arr_raw_data | paginate: {id:'pagination_raw',itemsPerPage:entries_per_page,currentPage:p}; let i = index">
                                        <td>
                                            <div class="top_row rawMaterialTable">
                                                <div class="d-flex">
                                                    <div class="align-items-center d-flex min-width-85">{{ data.index }}</div>
                                                    <div class="flex-even justify-content-start">{{ data.raw_material_name }}</div>
                                                    <div class="flex-even justify-content-center">{{ data.raw_material_quantity }}</div>
                                                    <div class="flex-even justify-content-center">{{ data.raw_material_unit }}</div>
                                                    <div class="flex-even justify-content-end">
                                                        <button mat-stroked-button data-toggle="collapse" [attr.data-target]="'#rawmaterialInfo' + i" (click)="editRawMaterial(data.raw_material_id,i)"><span class="fa fa-pen c-blue"></span></button>
                                                        <button mat-stroked-button class="ml-3" (click)="deleteUpdateRawMaterialData(data.raw_material_id,data.raw_material_name)"><span class="fa fa-trash c-red"></span></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="top_row">
                                                <div class="col-md-12">
                                                    <div class="collapse" id="rawmaterialInfo{{ i }}">
                                                        <div class="card-body">
                                                            <form class="rawMaterialForm" [formGroup]="updatedRawMaterialForm">
                                                                <div class="col-md-12">
                                                                    <span class="fs-16 fw-500">Please enter updated raw material name OR raw material unit for above raw material.<br><br></span>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <mat-form-field class="form-field">
                                                                            <input matInput class="p-0" formControlName="update_raw_material_name" placeholder="Raw Material Name">
                                                                        </mat-form-field>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <mat-form-field appearance="fill">
                                                                            <mat-label>Types</mat-label>
                                                                            <mat-select formControlName="update_raw_material_unit">
                                                                                <mat-option value="Liter"> Litre </mat-option>
                                                                                <mat-option value="Kilogram"> Kilogram </mat-option>
                                                                                <mat-option value="Tone"> Ton </mat-option>
                                                                            </mat-select>
                                                                        </mat-form-field>
                                                                    </div>
                                                                </div>
                                                                <button type="reset" mat-flat-button class="reset pull-right ml-2 c-b"><span class="fas fa-redo"></span>&nbsp;&nbsp;Reset</button>
                                                                <button type="reset" mat-flat-button class="cancel pull-right ml-2" data-toggle="collapse" [attr.data-target]="'#rawmaterialInfo' + i"><span class="fas fa-times"></span>&nbsp;&nbsp;Cancel</button>
                                                                <button type="button" mat-flat-button class="save pull-right" (click)="updateRawMaterialInfo(data.raw_material_id)"><span class="fas fa-save"></span>&nbsp;&nbsp;Update Raw Material</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr><br>
                                    <div class="row">
                                        <div class="col-md-6 mt-3">
                                            <pagination-controls id="pagination_raw" (pageChange)="p = $event" class="f-l">
                                            </pagination-controls>
                                        </div>
                                        <div class="col-md-6 z-index-9">
                                            <mat-form-field appearance="fill" class="width-22 f-r">
                                                <mat-label>Entries per page</mat-label>
                                                <mat-select id='entries_per_page' [(value)]="entries_per_page" [(ngModel)]="entries_per_page" (selectionChange)="pagination($event)">
                                                    <mat-option value="10">10</mat-option>
                                                    <mat-option value="20">20</mat-option>
                                                    <mat-option value="35">35</mat-option>
                                                    <mat-option value="40">40</mat-option>
                                                    <mat-option value="50">50</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </tbody><br>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row row-title">
                <div class="col-md-6">
                    <span class="fs-20 fw-600">Import Raw Material</span>
                </div>
                <div class="col-md-6">
                    <button mat-flat-button class="float-right save" type="button" data-toggle="collapse" id="collapseCard" data-target="#import">
                        <span class="fas fa-plus"></span>&nbsp;&nbsp;Import Raw Material
                    </button>
                </div>
            </div>
            <div class="row ml-20 mr-20">
                <div class="col-md-12">
                    <div class="collapse" id="import">
                        <div class="card-body">
                            <form class="importRawMaterialForm" [formGroup]="importRawMaterialForm">
                                <div class="row">
                                    <div class="col-md-3 align-items-center d-flex">
                                        <mat-select class="line fs-15 fw-400" formControlName="import_raw_material_name" (selectionChange)="importRawMaterialChange($event)" placeholder="Raw Material Name" #singleSelect>
                                            <mat-option>
                                                <ngx-mat-select-search [formControl]="raw_material_FilterCtrl" placeholderLabel="Search here!"></ngx-mat-select-search>
                                            </mat-option>
                                            <mat-option *ngFor="let data of filtered_raw_material_name | async" [value]="data.raw_material_name">
                                                {{ data.raw_material_name }}
                                            </mat-option>
                                        </mat-select>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field class="form-field" [formGroup]="importRawMaterialForm">
                                            <!-- [(ngModel)]="unit" (keyup)="printNumber()" -->
                                            <input matInput class="p-0" formControlName="raw_material_quantity" [(ngModel)]="unit" (keyup)="printNumber()" placeholder="Raw Material Quantity">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field class="form-field" [formGroup]="importRawMaterialForm">
                                            <input matInput [readonly]="true" class="p-0" formControlName="import_raw_material_unit" placeholder="Raw Material Type">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="d-flex">
                                            <input readonly class="form-control mt-15 bg-white date-picker" formControlName="import_raw_material_date" placeholder="DD MMMM YY" [matDatepicker]="newPicker" (click)="newPicker.open()" #newDate>
                                            <mat-datepicker #newPicker></mat-datepicker>
                                        </div>
                                    </div>
                                </div><br>
                                <button mat-flat-button type="reset" class="reset pull-right ml-2 c-b"><span class="fas fa-redo"></span>&nbsp;&nbsp;Reset</button>
                                <button mat-flat-button type="reset" data-toggle="collapse" data-target="#import" class="cancel pull-right ml-2"><span class="fas fa-times"></span>&nbsp;&nbsp;Cancel</button>
                                <button mat-flat-button type="submit" class="save pull-right" (click)="importRawMaterial()"><span class="fas fa-save"></span>&nbsp;&nbsp;Import Raw Material</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <br> -->
            <hr class="m-0 mt-10">
            <div class="row ml-20 mr-20">
                <div class="col-md-12">
                    <div class="card-body overflow-hidden">
                        <div class="col-md-12">
                            <mat-search-bar class="form-group m-0 m-5 f-r" [(ngModel)]="value1" type='text' name="import_raw_material_name" [(ngModel)]="import_raw_material_name" (ngModelChange)="searchImport()" placeholder="Search Raw Material Name">
                            </mat-search-bar>
                        </div>
                        <div class="table-responsive">
                            <table id="example" class="table table-custome width-100">
                                <thead class="text">
                                    <th>
                                        <div class="d-flex">
                                            <div class="align-items-center d-flex min-width-85">#</div>
                                            <div class="align-items-center d-flex min-width-150">Date</div>
                                            <div class="flex-even justify-content-start" scope="col">Raw Material Name</div>
                                            <div class="flex-even justify-content-end" scope="col">Quantity</div>
                                            <div class="flex-even justify-content-end" scope="col">Unit</div>
                                            <div class="flex-even justify-content-end" scope="col">Action</div>
                                        </div>
                                    </th>
                                </thead>
                                <div *ngIf="isProgressBar_import" class="m-20 p-20">
                                    <mat-progress-bar mode="indeterminate">
                                    </mat-progress-bar>
                                </div>
                                <div class="align-items-center m-20 text-center" *ngIf="is_data_import">
                                    <p class="fs-16 fw-400">No Data Available.</p>
                                </div>
                                <tbody *ngIf="is_table_import">
                                    <tr *ngFor="let data of arr_import_data | paginate: {id:'pagination_import',itemsPerPage:entries_per_page_import,currentPage:p_import}; let i = index">
                                        <td>
                                            <div class="top_row">
                                                <div class="d-flex">
                                                    <div class="align-items-center d-flex min-width-85">{{ data.index }}</div>
                                                    <div class="align-items-center d-flex min-width-150">{{ data.import_raw_material_date | date: 'dd/MMMM/yyyy' }}</div>
                                                    <div class="flex-even justify-content-start">{{ data.import_raw_material_name }}</div>
                                                    <div class="flex-even justify-content-end" >{{ data.raw_material_quantity }}</div>
                                                    <div class="flex-even justify-content-end">{{ data.import_raw_material_unit }}</div>
                                                    <div class="flex-even justify-content-end">
                                                        <button mat-stroked-button class="ml-3" (click)="deleteImportRawMaterial(data.raw_material_id,data.tbl_import_raw_material_id,data.import_raw_material_name,data.raw_material_quantity,data.import_raw_material_date)"><span class="fa fa-trash c-red"></span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr><br>
                                    <div class="row">
                                        <div class="col-md-6 mt-3">
                                            <pagination-controls id="pagination_import" (pageChange)="p_import = $event" class="f-l">
                                            </pagination-controls>
                                        </div>
                                        <div class="col-md-6 z-index-9">
                                            <mat-form-field appearance="fill" class="width-22 f-r">
                                                <mat-label>Entries per page</mat-label>
                                                <mat-select id='entries_per_page_import' [(value)]="entries_per_page_import" [(ngModel)]="entries_per_page_import" (selectionChange)="paginationImport($event)">
                                                    <mat-option value="10">10</mat-option>
                                                    <mat-option value="20">20</mat-option>
                                                    <mat-option value="35">35</mat-option>
                                                    <mat-option value="40">40</mat-option>
                                                    <mat-option value="50">50</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>