.save {
  &:hover {
    background-color: rgb(25, 73, 157) !important;
    // : white !important;
  }
  background-color: #47a44b !important;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  padding-right: 20px !important;
  padding-left: 20px !important;
}
.cancel {
  &:hover {
    background-color: rgb(25, 73, 157) !important;
    // : white !important;
  }
  background-color: #f44336 !important;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase; 
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  padding-right: 20px !important;
  padding-left: 20px !important;
}
.reset {
  &:hover {
    background-color: rgb(25, 73, 157) !important;
    // : white !important;
  }
  background-color: rgb(27, 78, 160) !important;
  color: white;
  text-transform: uppercase; font-family: Arial, Helvetica, sans-serif;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  padding-right: 20px !important;
  padding-left: 20px !important;
}