<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="row row-title">
                <div class="col-md-6">
                    <span class="fs-20 fw-600">Sell</span>
                </div>
                <div class="col-md-6">
                    <button mat-flat-button class="float-right save" data-toggle="collapse" data-target="#sell" id="collapseButton" aria-expanded="false" aria-controls="collapseExample">
                        <span class="fas fa-plus"></span>&nbsp;&nbsp;Sell Product
                    </button>  
                </div>
            </div>
            <div class="row ml-20 mr-20">
                <div class="col-md-12">
                    <div class="collapse" id="sell">
                        <div class="card-body">
                            <form class="sellForm" [formGroup]="sellForm">
                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-form-field appearance="fill" [formGroup]="sellForm">
                                            <mat-label>Customer Name</mat-label>
                                            <mat-select formControlName="customer_id" required>
                                                <mat-option *ngFor="let data of customerData" [value]="data.customer_id">{{ data.customer_name }}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field appearance="fill" [formGroup]="sellForm">
                                            <mat-label>Category Name</mat-label>
                                            <mat-select formControlName="category_id" (selectionChange)="productCategoryChange($event)" required>
                                                <ng-container *ngFor="let data of category">
                                                    <mat-option value="{{ data.category_id }}">{{ data.category_name }}</mat-option>
                                                </ng-container>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>  
                                     <div class="col-md-4">
                                        <mat-form-field appearance="fill" [formGroup]="sellForm" *ngIf="isProductEnable">
                                            <mat-label>Product Name</mat-label>
                                            <mat-select formControlName="product_id" (selectionChange)="productChange($event)" required>
                                                <mat-option *ngFor="let data of productFromCategory" [value]="data.product_id">
                                                    {{ data.product_name }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field appearance="fill" [formGroup]="sellForm" *ngIf="isInventoryEnable">
                                            <mat-label>Inventory</mat-label>
                                            <mat-select formControlName="inventory_id" (selectionChange)="inventoryChange($event)" required>
                                                <mat-option *ngFor="let data of inventoryFromProduct" [value]="data.inventory_id">
                                                    {{ data.inventory_name }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field class="form-field" [formGroup]="sellForm" *ngIf="isInventoryEnable">
                                            <input matInput formControlName="product_quantity" min="1"  [(ngModel)]="quantity" (keyup)="printNumber()" class="p-0" placeholder="Product Quantity" required>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <button mat-flat-button type="reset" class="reset pull-right c-b"><span class="fas fa-redo"></span>&nbsp;&nbsp;Reset</button>
                                <button mat-flat-button type="reset" data-toggle="collapse" data-target="#sell" class="cancel pull-right mr-2"><span class="fas fa-times"></span>&nbsp;&nbsp;Cancel</button>
                                <button mat-flat-button type="submit" class="save pull-right mr-2" (click)="insertSellDetails()"><span class="fas fa-save"></span>&nbsp;&nbsp;Sell Product</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="m-0 mt-15">
            <div class="row ml-20 mr-20">
                <div class="col-md-12">
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="col-md-12">
                                <mat-search-bar class="form-group m-0 m-5 f-r" [(ngModel)]="value" type='text' name="customerName" [(ngModel)]="customerName" (ngModelChange)="search()" placeholder="Search Customer Name">
                                </mat-search-bar>
                            </div>
                            <table id="example" class="table">
                                <thead class="text font-weight-bold">
                                    <th>#</th>
                                    <th>Customer Name</th>
                                    <th>Category Name</th>
                                    <th>Product Name</th>
                                    <th>Inventory Name</th>
                                    <th>Product Quantity</th>
                                    <th class="text-align-end">Action</th>
                                </thead>
                                <ng-container *ngIf="isProgressBar">
                                    <td colspan="7" class="border-none"> 
                                        <mat-progress-bar mode="indeterminate">   
                                        </mat-progress-bar>
                                    </td>
                                </ng-container>
                                <ng-container *ngIf="isData">
                                    <td colspan="7" class="align-items-center m-20 text-center">
                                        <p class="fs-16 fw-400">No Data Available.</p>
                                    </td>
                                </ng-container>
                                <ng-container *ngIf="isTable">
                                    <tbody *ngFor="let data of sellData | paginate: {id:'paginationSell',itemsPerPage:entriesPerPage,currentPage:p}; let i = index">
                                        <tr>
                                            <td>{{ data.index }}</td>
                                            <td>{{ data.customer_name }}</td>
                                            <td appColor [data]="data.category_color">{{ data.category_name }}</td>
                                            <td appColor [data]="data.category_color">{{ data.product_name }}</td>
                                            <td>{{ data.inventory_name }}</td>
                                            <td>{{ data.product_quantity }}</td>
                                            <td class="text-align-end">
                                                <button mat-stroked-button (click)="deleteSellItem(data.sell_id)"><span class="fa fa-trash c-red"></span></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </ng-container>
                            </table>
                            <ng-container *ngIf="isTable">
                                <div class="row">
                                    <div class="col-md-6 mt-3">
                                        <pagination-controls id="paginationSell" (pageChange)="p = $event"  class="f-l"></pagination-controls>
                                    </div>
                                    <div class="col-md-6 z-index-9">
                                        <mat-form-field appearance="fill" class="width-22 f-r">
                                            <mat-label>Entries per page</mat-label>
                                            <mat-select id='entriesPerPage' [(value)]="entriesPerPage" [(ngModel)]="entriesPerPage" (selectionChange)="pagination($event)">
                                                <mat-option value="10">10</mat-option>
                                                <mat-option value="20">20</mat-option>
                                                <mat-option value="35">35</mat-option>
                                                <mat-option value="40">40</mat-option>
                                                <mat-option value="50">50</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>      
    </div>
</div>