<nav class="navbar navbar-expand-lg navbar-transparent sticky-top">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <a class="navbar-brand fs-30 fw-700" href="javascript:void(0)">{{getTitle()}}</a>
    </div>
    <button mat-raised-button class="navbar-toggler" type="button" (click)="sidebarToggle()">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <span mat-flat-button class="mr-20" (click)="logOut()">
        <i class="fas fa-power-off"></i>
      </span>
    </div>
  </div>
</nav>