.main-content {
  margin-top: -20px;
  // .container {
  //   min-height: calc(100vh - 250px) !important;
  //   .logo_image {
  //     width: 100% !important;
  //     /* margin-top: -80px; */
  //     float: none;
  //     margin-left: 5px !important;
  //   }
  // }
  .raw-material {
    width: 100%;
    position: absolute;
  }
}
