<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <mat-tab-group class="card" (selectedTabChange)="getFunction($event)">
                <!-- Product -->
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon class="fas fa-vial"></mat-icon>&nbsp;&nbsp;
                        Product
                    </ng-template>
                    <div class="card-body"><br>
                        <div class="col-md-6 f-r">
                            <button mat-flat-button class="float-right save" type="button" data-toggle="collapse" id="collapseButton" data-target="#manualProduct" aria-expanded="false" aria-controls="collapseExample">
                                <span class="fas fa-plus"></span>&nbsp;&nbsp;Add Manual Product
                            </button>
                        </div>
                        <br><br><br>
                        <div class="row ml-20 mr-20">
                            <div class="col-md-12">
                                <div class="collapse" id="manualProduct">
                                    <div class="card-body">
                                        <form class="productForm" [formGroup]="productForm">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <mat-form-field appearance="fill" [formGroup]="productForm">
                                                        <mat-label>Category</mat-label>
                                                        <mat-select formControlName="categoryId" (selectionChange)="categoryChange($event)">
                                                            <ng-container *ngFor="let data of categoryProduct">
                                                                <mat-option value="{{ data.category_id }}">
                                                                    {{ data.category_name }}
                                                                </mat-option>    
                                                            </ng-container>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-3">
                                                    <mat-form-field class="form-field" [formGroup]="productForm">
                                                        <input matInput formControlName="productName" placeholder="Product Name">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-3">
                                                    <mat-form-field class="form-field" [formGroup]="productForm">
                                                        <input matInput formControlName="productTechnicalName" placeholder="Product Technical Name">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-3">
                                                    <mat-form-field appearance="fill" [formGroup]="productForm">
                                                        <mat-label>Product Form</mat-label>
                                                        <mat-select formControlName="productForm" required>
                                                            <mat-option value="1">Liquid Product</mat-option>
                                                            <mat-option value="2">Solid Product</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <mat-form-field appearance="fill" [formGroup]="productForm">
                                                        <mat-label>Inventory Name</mat-label>
                                                        <mat-select formControlName="inventoryId">
                                                            <ng-container *ngFor="let data of inventoryFromProduct">
                                                                <mat-option value="{{ data.inventory_id }}">
                                                                    {{ data.inventory_name }}
                                                                </mat-option>
                                                            </ng-container>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-6">
                                                    <mat-form-field class="form-field" [formGroup]="productForm">
                                                        <input matInput class="p-0" [(ngModel)]="unit" (keyup)="printNumber()" formControlName="productQuantity" placeholder="Product Qunatity" required>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <button mat-flat-button type="reset" class="reset pull-right ml-2 c-b"><span class="fas fa-redo"></span>&nbsp;&nbsp;Reset</button>
                                            <button mat-flat-button type="reset" data-toggle="collapse" data-target="#manualProduct" class="cancel pull-right ml-2"><span class="fas fa-times"></span>&nbsp;&nbsp;Cancel</button>
                                            <button mat-flat-button type="submit" class="save pull-right" (click)="insertProduct()"><span class="fas fa-save"></span>&nbsp;&nbsp;Add Manually Product</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="table-responsive">
                            <div class="col-md-12">
                                <mat-search-bar class="form-group m-0 m-5 f-r" [(ngModel)]="value" type='text' name="product_name" [(ngModel)]="product_name" (ngModelChange)="searchProduct()" placeholder="Search Product Name">
                                </mat-search-bar>
                            </div>
                            <table id="example" class="table">
                                <thead class="text font-weight-bold">
                                    <th>#</th>
                                    <th>Product</th>
                                    <th>Technical Name</th>
                                    <th>Name</th>
                                    <th>Quantity</th>
                                </thead>
                                <ng-container *ngIf="isProgressBar_product">
                                    <td colspan="5" class="m-20 p-20">
                                        <mat-progress-bar mode="indeterminate">
                                        </mat-progress-bar>
                                    </td>
                                </ng-container>
                                <ng-container *ngIf="is_data_product">
                                    <td colspan="5" class="align-items-center m-20 text-center">
                                       <p class="fs-16 fw-400 mt-20">No Data Available.</p>
                                    </td>
                                </ng-container>
                                <tbody *ngIf="is_table_product">
                                    <tr *ngFor="let data of arr_product_data | paginate: {id:'pagination_product',itemsPerPage:entries_per_page_product,currentPage:p_product}; let i = index">
                                        <td>{{ data.index }}</td>
                                        <td appColor [data]="data.category_color">
                                            <b>{{ data.product_name }}</b>&nbsp;&nbsp;<br>
                                            <div>
                                                <small>
                                                    ({{ data.category_name }})
                                                </small>
                                            </div>
                                        </td>
                                        <td>{{ data.product_technical_name }}</td>
                                        <td>{{ data.inventory_name }}</td>
                                        <td>{{ data.quantity }}</td>
                                    </tr><br>
                                </tbody>
                            </table>
                            <ng-container *ngIf="is_table_product">
                                <div class="row">
                                    <div class="col-md-6 mt-3">
                                        <pagination-controls id="pagination_product" (pageChange)="p_product = $event" class="f-l"></pagination-controls>
                                    </div>
                                    <div class="col-md-6 z-index-9">
                                        <mat-form-field appearance="fill" class="width-22 f-r">
                                            <mat-label>Entries per page</mat-label>
                                            <mat-select id='entries_per_page_product'
                                                [(value)]="entries_per_page_product"
                                                [(ngModel)]="entries_per_page_product"
                                                (selectionChange)="pagination($event)">
                                                <mat-option value="10">10</mat-option>
                                                <mat-option value="20">20</mat-option>
                                                <mat-option value="35">35</mat-option>
                                                <mat-option value="40">40</mat-option>
                                                <mat-option value="50">50</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </mat-tab>
                <!-- Raw Material -->
                <mat-tab label="Raw Material">
                    <ng-template mat-tab-label>
                        <mat-icon class="fab fa-buromobelexperte"></mat-icon>&nbsp;&nbsp;
                        Raw Material
                    </ng-template>
                    <div class="card-body"><br>
                        <div class="col-md-12">
                            <mat-search-bar class="form-group m-0 m-5 f-r" [(ngModel)]="value" type='text' name="raw_material_name" [(ngModel)]="raw_material_name" (ngModelChange)="search()" placeholder="Search Raw Material Name">
                            </mat-search-bar>
                        </div>
                        <br>
                        <div class="table-responsive">
                            <table id="example" class="table">
                                <thead class="text font-weight-bold">
                                        <th>#</th>
                                        <th>Raw Material Name</th>
                                        <th>Quantity</th>
                                        <th>Unit</th>
                                </thead>
                                <ng-container *ngIf="isProgressBar_raw_material">
                                    <tr class="m-20 p-20">
                                        <td colspan="4">
                                            <mat-progress-bar mode="indeterminate">
                                            </mat-progress-bar>
                                        </td>
                                    </tr>
                                </ng-container>
                                <ng-container *ngIf="is_data_raw_material">
                                    <tr class="align-items-center m-20 text-center" >
                                        <td colspan="4">
                                           <p class="fs-16 fw-400 mt-20">No Data Available.</p>
                                        </td>
                                    </tr>
                                </ng-container>
                                <ng-container *ngIf="is_table_raw_material">
                                    <tbody *ngFor="let data of arr_raw_data | paginate: {id:'pagination_raw_material',itemsPerPage:entries_per_page_raw_material,currentPage:p_raw_material}; let i = index">
                                        <tr>
                                            <td>{{ data.index }}</td>
                                            <td>{{ data.raw_material_name }}</td>
                                            <td>{{ data.raw_material_quantity }}</td>
                                            <td>{{ data.raw_material_unit }}</td>
                                        </tr><br>
                                    </tbody>
                                </ng-container>
                            </table>
                            <ng-container *ngIf="is_table_raw_material">
                                <div class="row">
                                    <div class="col-md-6 mt-3">
                                        <pagination-controls id="pagination_raw_material" (pageChange)="p_raw_material = $event" class="f-l">
                                        </pagination-controls>
                                    </div>
                                    <div class="col-md-6 z-index-9">
                                        <mat-form-field appearance="fill" class="width-22 f-r">
                                            <mat-label>Entries per page</mat-label>
                                            <mat-select id='entries_per_page_raw_material' [(value)]="entries_per_page_raw_material" [(ngModel)]="entries_per_page_raw_material" (selectionChange)="pagination($event)">
                                                <mat-option value="10">10</mat-option>
                                                <mat-option value="20">20</mat-option>
                                                <mat-option value="35">35</mat-option>
                                                <mat-option value="40">40</mat-option>
                                                <mat-option value="50">50</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </mat-tab>
                <!-- Inventory -->
                <mat-tab label="Inventory">
                    <ng-template mat-tab-label>
                        <mat-icon class="fas fa-prescription-bottle"></mat-icon>&nbsp;&nbsp;
                        Inventory
                    </ng-template>
                    <div class="">
                        <div class="card-body">
                            <div class="col-md-12"><br>
                                <mat-search-bar class="form-group m-0 m-5 f-r" [(ngModel)]="value" type='text'
                                    name="inventory_name" [(ngModel)]="inventory_name" (ngModelChange)="search()"
                                    placeholder="Search Inventory Name">
                                </mat-search-bar>
                            </div>
                            <div class="table-responsive">
                                <table id="example" class="table black">
                                    <thead class="text font-weight-bold">
                                        <th>#</th>
                                        <th>Inventory Name</th>
                                        <th>Quantity</th>
                                        <th class="text-align-end">Unit</th>
                                    </thead>
                                    <ng-container *ngIf="isProgressBar_inventory">
                                        <tr class="border-none">
                                            <td colspan="7"> 
                                                <mat-progress-bar mode="indeterminate">   
                                                </mat-progress-bar>
                                            </td>
                                        </tr>
                                    </ng-container>
                                    <ng-container *ngIf="is_data_inventory">
                                        <tr class="align-items-center m-20 text-center">
                                            <td colspan="7"> 
                                               <p class="fs-16 fw-400 mt-20">No Data Available.</p>
                                            </td>
                                        </tr>
                                    </ng-container>
                                    <ng-container *ngIf="is_table_inventory">
                                        <tbody *ngFor="let data of arr_inventory_data | paginate: {id:'pagination_inventory',itemsPerPage:entries_per_page_inventory,currentPage:p_inventory}; let i = index">
                                            <tr>
                                                <td>{{ data.index }}</td>
                                                <td>{{ data.inventory_name }}</td>
                                                <td>{{ data.inventory_quantity }}</td>
                                                <td class="text-align-end">{{ data.inventory_unit }}</td>
                                            </tr>
                                        </tbody>
                                    </ng-container>
                                </table>
                                <ng-container *ngIf="is_table_inventory">
                                    <div class="row">
                                        <div class="col-md-6 mt-3">
                                            <pagination-controls id="pagination_inventory"
                                                (pageChange)="p_inventory = $event" class="paginateCtrl f-l">
                                            </pagination-controls>
                                        </div>
                                        <div class="col-md-6 z-index-9">
                                            <mat-form-field appearance="fill" class="width-22 f-r">
                                                <mat-label>Entries per page</mat-label>
                                                <mat-select id='entries_per_page_inventory'
                                                    [(value)]="entries_per_page_inventory"
                                                    [(ngModel)]="entries_per_page_inventory"
                                                    (selectionChange)="pagination($event)">
                                                    <mat-option value="10">10</mat-option>
                                                    <mat-option value="20">20</mat-option>
                                                    <mat-option value="35">35</mat-option>
                                                    <mat-option value="40">40</mat-option>
                                                    <mat-option value="50">50</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>