<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="row row-title">
                <div class="col-md-6">
                    <span class="fs-20 fw-600">Staff</span>
                </div>
                <div class="col-md-6">
                    <button mat-flat-button class="float-right save" type="button" data-toggle="collapse" id="collapseButton" data-target="#registration">
                        <span class="fas fa-plus"></span>&nbsp;&nbsp;Add Staff
                    </button>
                </div>
            </div>
            <!-- Add Staff -->
            <div class="row ml-20 mr-20">
                <div class="col-md-12">
                    <div class="collapse" id="registration">
                        <div class="card-body">
                            <form class="userForm" [formGroup]="userForm">
                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-form-field class="form-field">
                                            <input matInput type="text" formControlName="staffName" placeholder="Staff Name">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field appearance="fill" [formGroup]="userForm">
                                            <mat-label>Work Area</mat-label>
                                            <mat-select formControlName="staffWorkAreaId">
                                                <ng-container *ngFor="let data of workArea">
                                                    <mat-option value="{{ data.work_area_id }}">{{ data.work_area_name }}</mat-option>
                                                </ng-container>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field class="form-field" [formGroup]="userForm">
                                            <input matInput formControlName="staffSalary" (keyup)="printNumber()" placeholder="Salary">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class=" row">
                                    <div class="col-md-4">
                                        <mat-form-field appearance="fill" [formGroup]="userForm">
                                            <mat-label>Shift</mat-label>
                                            <mat-select formControlName="staffShiftId">
                                                <ng-container *ngFor="let data of shiftDetails">
                                                    <mat-option value="{{ data.shift_id }}">
                                                        {{ data.shift_name }}
                                                    </mat-option>
                                                </ng-container>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field appearance="fill" [formGroup]="userForm">
                                            <mat-label>Mobile Network</mat-label>
                                            <mat-select formControlName="staffMobileServiceProviderId">
                                                <ng-container *ngFor="let data of netWorkServiceProvider">
                                                    <mat-option value="{{ data.	master_network_service_provider_id }}">
                                                        {{ data.master_network_service_provider_name }}
                                                    </mat-option>
                                                </ng-container>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field class="form-field" [formGroup]="userForm">
                                            <input matInput formControlName="staffMobileNumber" placeholder="Mobile Number">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </form>
                            <input class="form-control width-32" type="file" id="files" (change)="onFilePicked($event)" name="">
                            <button mat-flat-button type="reset" class="reset pull-right ml-2 c-b"><span class="fas fa-redo"></span>&nbsp;&nbsp;Reset</button>
                            <button mat-flat-button type="reset" class="cancel pull-right ml-2" data-toggle="collapse" data-target="#registration"><span class="fas fa-times"></span>&nbsp;&nbsp;Cancel</button>
                            <button mat-flat-button type="button" class="save pull-right" (click)="insertStaff()"><span class="fas fa-save"></span>&nbsp;&nbsp;Add Staff</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="m-0 mt-10">
            <!-- DataTable -->
            <div class="row ml-20 mr-20">
                <div class="col-md-12">
                    <div class="card-body">
                        <div class="col-md-12">
                            <mat-search-bar class="form-group m-0 m-5 f-r" [(ngModel)]="value" type='text' name="staffName" [(ngModel)]="staffName" (ngModelChange)="search()" placeholder="Search Staff Name">
                            </mat-search-bar>
                        </div><br><br>
                        <div class="table-responsive">
                            <table id="example" class="table width-100">
                                <thead class="text font-weight-bold">
                                    <th>#</th>
                                    <th>Staff Name</th>
                                    <th>Work Area</th>
                                    <th>Shift</th>
                                    <th>Salary</th>
                                    <th>Network</th>
                                    <th>Number</th>
                                    <th>Proof</th>
                                    <th class="text-center-end">Action</th>
                                </thead>
                                <ng-container *ngIf="isProgressBar">
                                    <tr class="border-none">
                                        <td colspan="9"> 
                                            <mat-progress-bar mode="indeterminate">   
                                            </mat-progress-bar>
                                        </td>
                                    </tr>
                                </ng-container>
                                <ng-container *ngIf="isData">
                                    <tr class="align-items-center m-20 text-center">
                                        <td colspan="9"> 
                                            <p class="fs-16 fw-400">No Data Available.</p>
                                        </td>
                                    </tr>
                                </ng-container>
                                <ng-container *ngIf="staffDetails.length > 0">
                                    <tbody *ngFor="let data of staffDetails | paginate: {id:'pagination',itemsPerPage:entriesPerPage,currentPage:p}; let i = index">
                                        <tr>
                                            <td>{{ data.index }}</td>
                                            <td>{{ data.staff_name }}</td>
                                            <td>{{ data.work_area_name }}</td>
                                            <td>{{ data.shift_name }}</td>
                                            <td>{{ data.staff_salary }} </td>
                                            <td>{{ data.master_network_service_provider_name }}</td>
                                            <td>{{ data.mobile_number }}</td>
                                            <td>
                                                <button mat-flat-button type="button" data-toggle="modal" [attr.data-target]="'#viewIdProof'+i">
                                                    <i class="fas fa-eye"></i>
                                                </button>
                                            </td>
                                            <td class="text-center-end">
                                                <div>
                                                    <button mat-stroked-button data-toggle="collapse" [attr.data-target]="'#staffInfo' + i" (click)="editStaffInfo(data.staff_id,i)"><span class="fa fa-pen c-blue"></span></button><br>
                                                </div>
                                                <div>
                                                    <button mat-stroked-button (click)="deleteStaffDetails(data.staff_id, data.staff_name)"><span class="fa fa-trash c-red"></span></button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="9" class="p-0">
                                                <div class="collapse pb-5" id="staffInfo{{i}}">
                                                    <form class="updatedUserForm" [formGroup]="updatedUserForm">
                                                        <p class="fs-16 fw-500">Please enter update staff information for above details.<br><br></p>
                                                        <div class="row pt-10">
                                                            <div class="col-md-3">
                                                                <mat-form-field class="form-field">
                                                                    <input matInput type="text" formControlName="updateStaffName" placeholder="Staff Name">
                                                                </mat-form-field>
                                                            </div>
                                                            <div class="col-md-3 mt-12">
                                                                <mat-form-field appearance="fill">
                                                                    <mat-label>Work Area</mat-label>
                                                                    <mat-select
                                                                        formControlName="updateStaffWorkAreaId">
                                                                        <ng-container
                                                                            *ngFor="let data of workArea">
                                                                            <mat-option value="{{ data.work_area_id }}">
                                                                                {{ data.work_area_name }}
                                                                            </mat-option>
                                                                        </ng-container>
                                                                    </mat-select>
                                                                </mat-form-field>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <mat-form-field class="form-field">
                                                                    <input matInput formControlName="updateStaffSalary" placeholder="Salary">
                                                                </mat-form-field>
                                                            </div>
                                                            <div class="col-md-3 mt-12">
                                                                <mat-form-field appearance="fill">
                                                                    <mat-label>Shift</mat-label>
                                                                    <mat-select formControlName="updateStaffShiftId">
                                                                        <ng-container *ngFor="let data of shiftDetails">
                                                                            <mat-option value="{{ data.shift_id }}">
                                                                                {{ data.shift_name }}
                                                                            </mat-option>
                                                                        </ng-container>
                                                                    </mat-select>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <div class="row pt-10">
                                                            <div class="col-md-6 mt-12">
                                                                <mat-form-field appearance="fill">
                                                                    <mat-label>Mobile Network</mat-label>
                                                                    <mat-select formControlName="updateStaffMobileServiceProviderId">
                                                                        <ng-container *ngFor="let data of netWorkServiceProvider">
                                                                            <mat-option value="{{ data.	master_network_service_provider_id }}">
                                                                                {{ data.master_network_service_provider_name }}
                                                                            </mat-option>
                                                                        </ng-container>
                                                                    </mat-select>
                                                                </mat-form-field>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <mat-form-field class="form-field">
                                                                    <input matInput formControlName="updateStaffMobileNumber" placeholder="Mobile Number">
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <input class="form-control width-32" type="file" id="files" (change)="onFilePicked($event)" name=""/>
                                                    </form>
                                                    <button type="reset" mat-flat-button class="reset pull-right ml-2 c-b"><span class="fas fa-redo"></span>&nbsp;&nbsp;Reset</button>
                                                    <button type="reset" mat-flat-button class="cancel pull-right ml-2" data-toggle="collapse" [attr.data-target]="'#staffInfo' + i"><span class="fas fa-times"></span>&nbsp;&nbsp;Cancel</button>
                                                    <button type="button" mat-flat-button class="save pull-right" (click)="updateStaffInfo(data.staff_id)"><span class="fas fa-save"></span>&nbsp;&nbsp;Update Staff</button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <div class="modal fade" id="viewIdProof{{i}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title fs-18" id="exampleModalLongTitle">User Profile</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <img src="https://backend.modernagrichem.com/staff/{{ data.staff_id_proof}}" width="400px">
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-dark ctrlBtn" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </tr>
                                    </tbody>
                                </ng-container>
                            </table>
                            <ng-container *ngIf="staffDetails.length > 0">
                                <div class="row">
                                    <div class="col-md-6 mt-3">
                                        <pagination-controls id="pagination" (pageChange)="p = $event" class="f-l">
                                        </pagination-controls>
                                    </div>
                                    <div class="col-md-6 z-index-9">
                                        <mat-form-field appearance="fill" class="width-22 f-r">
                                            <mat-label>Entries per page</mat-label>
                                            <mat-select id='entriesPerPage' [(value)]="entriesPerPage" [(ngModel)]="entriesPerPage" (selectionChange)="pagination($event)">
                                                <mat-option value="10">10</mat-option>
                                                <mat-option value="20">20</mat-option>
                                                <mat-option value="35">35</mat-option>
                                                <mat-option value="40">40</mat-option>
                                                <mat-option value="50">50</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>