<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <mat-tab-group class="card">
                <!-- Raw Material -->
                <ng-container *ngIf="masterRawMaterialRole">
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="fab fa-buromobelexperte"></mat-icon>&nbsp;&nbsp;
                            Raw Material
                        </ng-template>
                        <app-raw-material></app-raw-material>
                    </mat-tab>
                </ng-container>
                <!-- Inventory -->
                <ng-container *ngIf="masterInventoryRole">
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="fas fa-prescription-bottle"></mat-icon>&nbsp;&nbsp;
                            Inventory
                        </ng-template>
                        <app-inventory></app-inventory>
                    </mat-tab>
                </ng-container>
                <!-- Product -->
                <ng-container *ngIf="masterProductRole">
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="fas fa-vial"></mat-icon>&nbsp;&nbsp;
                            Product
                        </ng-template>
                        <app-product></app-product>
                    </mat-tab>
                </ng-container>
                <!-- Mail Service -->
                <!-- <ng-container *ngIf="mailServiceRole">
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="fas fa-envelope"></mat-icon>&nbsp;&nbsp;
                            Mail Service
                        </ng-template>
                        <app-mail></app-mail>
                    </mat-tab>
                </ng-container> -->
                <!-- Role -->
                <ng-container *ngIf="manageRole">
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="far fa-user-circle"></mat-icon>&nbsp;&nbsp;
                            Role
                        </ng-template>
                        <app-role></app-role>
                    </mat-tab>
                </ng-container>
                <!-- Category -->
                <ng-container *ngIf="masterProductCategoryRole">
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="fas fa-th"></mat-icon>&nbsp;&nbsp;
                            Product Category
                        </ng-template>
                        <app-category></app-category>
                    </mat-tab>
                </ng-container>
                <!-- Network Service Provider -->
                <ng-container *ngIf="masterNetworkServiceProviderRole">
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="fas fa-wifi"></mat-icon>&nbsp;&nbsp;
                            Network Service Provider
                        </ng-template>
                        <app-network-service-provider></app-network-service-provider>
                    </mat-tab>
                </ng-container>
                <!-- Work Area -->
                <ng-container *ngIf="masterWorkAreaRole">
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="fas fa-building"></mat-icon>&nbsp;&nbsp;
                            Work Area
                        </ng-template>
                        <app-work-area></app-work-area>
                    </mat-tab>
                </ng-container>
                <!-- Shift -->
                <ng-container *ngIf="masterShiftRole">
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="fas fa-cloud-sun"></mat-icon>&nbsp;&nbsp;
                            Shift
                        </ng-template>
                        <app-shift></app-shift>
                    </mat-tab>
                </ng-container>
                <!-- Currency -->
                <ng-container *ngIf="masterCurrencyRole">
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="fas fa-dollar-sign"></mat-icon>&nbsp;&nbsp;
                            Currency
                        </ng-template>
                        <app-currency></app-currency>
                    </mat-tab>
                </ng-container>
            </mat-tab-group>
        </div>
    </div>
</div>