.line {
  margin-top: 5px;
  border-bottom: 1px solid;
}
.border-bottom {
  border-bottom: 1px solid !important;
}
.main-content {
  margin-top: -20px !important;
  .form-field {
    margin-top: 13px !important;
    width: 100% !important;
  }
  .table-custome {
    width: 100% !important;
    // overflow: auto !important;
  }
  .date-picker {
    width: 200% !important;
    margin-top: 3px !important;
    border-bottom: 0.5px solid !important;
  }
  .top_row {
    display: table !important;
    width: 100% !important;
  }
  .flex-even {
    flex: 1 !important;
    display: flex !important;
    align-items: center !important;
  }
  .line {
    margin-top: 14px !important;
    border-bottom: 1px solid !important;
  }
}
::ng-deep {
  .mat-select-search-input {
    margin: 11px !important;
    height: auto !important;
    line-height: 0 !important;
  }
}
#span{
  margin-top:60px !important
}