.main-content{
    margin-top: -20px;
    .table-custom{
        width: 100% !important;
        overflow: auto !important;
    }
    .top_row {
        display: table;
        width: 100%;
    }
    .flex-even{
        flex: 1;
        display: flex;
        align-items: center;
    }
}