<div class="animated fadeIn">
    <div class="flex-space-between p-20">
        <span class="fs-20 fw-600">Role</span>
        <button mat-flat-button class="float-right save" data-toggle="collapse" data-target="#addRole"
            id="collapseButton">
            <span class="fas fa-plus"></span> Add Role
        </button>
    </div>
    <div class="collapse ml-20 mr-20" id="addRole">
        <form class="form-group" [formGroup]="roleForm">
            <div>
                <mat-form-field class="form-field">
                    <mat-label>Role Name</mat-label>
                    <input matInput formControlName="roleName">
                </mat-form-field>
            </div>
            <div class="float-right">
                <button type="submit" class="btn save" (click)="addRole()"><span class="fas fa-save"></span>
                    Add Role</button>
                <button type="reset" class="btn cancel" data-toggle="collapse" data-target="#addRole"><span
                        class="fas fa-times"></span> Cancel</button>
                <button type="reset" class="btn reset"><span class="fas fa-redo"></span>
                    Reset</button>
            </div>
        </form>
        <br>
    </div>
    <div class="row ml-20 mr-20">
        <div class="card-body">
            <div>
                <mat-search-bar class="form-group m-0 m-5 f-r" type='text' name="roleName" [(ngModel)]="roleName"
                    (ngModelChange)="search()" placeholder="Search Currency Name">
                </mat-search-bar>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead class="text font-weight-bold">
                        <th>#</th>
                        <th>Role Name</th>
                        <th class="text-align-end">Action</th>
                    </thead>
                    <ng-container *ngIf="isProgressBar">
                        <td colspan="3" class="border-none">
                            <mat-progress-bar mode="indeterminate">
                            </mat-progress-bar>
                        </td>
                    </ng-container>
                    <ng-container *ngIf="isData">
                        <td colspan="3" class="align-items-center m-20 text-center">
                            <p class="fs-16 fw-400">No Data Available.</p>
                        </td>
                    </ng-container>
                    <ng-container *ngIf="isTable">
                        <tbody
                            *ngFor="let data of roleData | paginate: {id:'paginationRole', itemsPerPage:entriesPerPage,currentPage:p}; let i = index">
                            <tr>
                                <td>{{ data.index }}</td>
                                <td>{{ data.role_name }}</td>
                                <td class="text-align-end">
                                    <button mat-stroked-button data-toggle="collapse"
                                        [attr.data-target]="'#roleInfo' + i"
                                        (click)="editRole(data.master_role_id,i)"><span
                                            class="fa fa-pen c-blue"></span></button>
                                    <button mat-stroked-button class="ml-3"
                                        (click)="deleteRole(data.master_role_id,data.role_name)"><span
                                            class="fa fa-trash c-red"></span></button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="p-0">
                                    <div class="collapse pb-5" id="roleInfo{{ i }}">
                                        <form class="updateRoleForm" [formGroup]="updateRoleForm">
                                            <p class="fs-16 fw-500">Please enter updated role id or role name for
                                                selected role.<br></p>
                                            <div>
                                                <mat-form-field class="form-field">
                                                    <input matInput formControlName="updateRoleName"
                                                        placeholder="Role Name">
                                                </mat-form-field>
                                            </div>
                                            <button mat-flat-button type="reset" class="reset pull-right ml-2 c-b"><span
                                                    class="fas fa-redo"></span>&nbsp;&nbsp;Reset</button>
                                            <button mat-flat-button type="reset" class="cancel pull-right ml-2"
                                                data-toggle="collapse" [attr.data-target]="'#roleInfo' + i"><span
                                                    class="fas fa-times"></span>&nbsp;&nbsp;Cancel</button>
                                            <button mat-flat-button type="button" class="save pull-right"
                                                (click)="updateRole(data.master_role_id)"><span
                                                    class="fas fa-save"></span>&nbsp;&nbsp;Update Currency</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        </tbody><br>
                    </ng-container>
                </table>
                <ng-container *ngIf="isTable">
                    <div class="row">
                        <div class="col-md-6 mt-3">
                            <pagination-controls id="paginationRole" (pageChange)="p = $event" class="f-l">
                            </pagination-controls>
                        </div>
                        <div class="col-md-6 z-index-9">
                            <mat-form-field appearance="fill" class="width-22 f-r">
                                <mat-label>Entries per page</mat-label>
                                <mat-select id='entriesPerPage' [(value)]="entriesPerPage" [(ngModel)]="entriesPerPage"
                                    (selectionChange)="pagination($event)">
                                    <mat-option value="10">10</mat-option>
                                    <mat-option value="20">20</mat-option>
                                    <mat-option value="35">35</mat-option>
                                    <mat-option value="40">40</mat-option>
                                    <mat-option value="50">50</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>