<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="row ml-20 mr-20">
                <div class="col-md-12">
                    <div class="card-body">
                        <div class="row row-title">
                            <span class="fs-20 fw-600">Product Details</span>
                        </div>
                        <div class="row">
                            <ng-container *ngIf="productDetails.length === 0">
                                <div class="text-center">
                                    <h1>No data Available</h1>
                                </div>
                            </ng-container>
                            <div class="col-md-4">
                                <img src="./assets/img/ModernStrongPunch.jpg" class="product-image"/>
                            </div>
                            <div class="col-md-8">
                                <div class="table-responsive">
                                    <table class="table">
                                        <ng-container *ngFor="let data of productDetails">
                                            <tr>
                                                <th>Category Name</th>
                                                <td>{{ data.category_names }}</td>
                                            </tr>
                                            <tr>
                                                <th>Product Name</th>
                                                <td>{{ data.product_name }}</td>
                                            </tr>
                                            <tr>
                                                <th>Product Technical Name</th>
                                                <td>{{ data.product_technical_name }}</td>
                                            </tr>
                                            <tr>
                                                <th>Product Form</th>
                                                <td>{{ data.product_form }}</td>
                                            </tr>
                                            <tr>
                                                <th>Product Description</th>
                                                <td>{{ data.product_description }}</td>
                                            </tr>
                                            <tr>
                                                <th>Raw Material Info</th>
                                                <td>
                                                    <div class="font-weight-bold">
                                                        <ng-container *ngFor="let name of data.raw_material_names.split(',')">
                                                            <div><span class="fas fa-arrow-right"></span>&nbsp;&nbsp;{{ name }}</div>
                                                        </ng-container>
                                                    </div>
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>