<div class="main-content">
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="card">
                <div class="flex-space-between p-20">
                    <span class="ml-5 fs-20 fw-600">Raw Material</span>
                </div>
                <hr>
                <div class="row ml-20 mr-20">
                    <div class="col-md-12">
                        <div class="card-body">
                            <div class="f-r">
                                <mat-search-bar class="form-group m-0 m-5 f-r" [(ngModel)]="value" type='text' name="rawMaterialName" [(ngModel)]="rawMaterialName" (ngModelChange)="search()" placeholder="Search Raw Material Name">
                                </mat-search-bar>
                            </div>
                            <div class="table-responsive">
                                <table class="table" style="white-space: nowrap !important">
                                    <thead class="text font-weight-bold">
                                        <th>#</th>
                                        <th>Raw Material Name</th>
                                        <th>Quantity</th>
                                        <th>Unit</th>
                                    </thead>
                                    <ng-container *ngIf="isProgressBar">
                                        <td colspan="4" class="border-none"> 
                                            <mat-progress-bar mode="indeterminate">   
                                            </mat-progress-bar>
                                        </td>
                                    </ng-container>
                                    <ng-container *ngIf="isData">
                                        <td colspan="4" class="m-20 text-center"> 
                                           <p class="fs-16 fw-400 mt-20">No Data Available.</p>
                                        </td>
                                    </ng-container>
                                    <tbody *ngIf="isTable">
                                        <tr *ngFor="let data of RawMaterialData | paginate: {id:'paginationRaw',itemsPerPage:entriesPerPage,currentPage:p}; let i = index">
                                            <td>{{ data.index }}</td>
                                            <td>{{ data.raw_material_name }}</td>
                                            <td>{{ data.raw_material_quantity }}</td>
                                            <td>{{ data.raw_material_unit }}</td>
                                        </tr><br>
                                    </tbody><br>
                                </table>
                                <div class="row width-100" *ngIf="isTable">
                                    <div class="col-md-6 mt-3">
                                        <pagination-controls id="paginationRaw" (pageChange)="p = $event" class="f-l">
                                        </pagination-controls>
                                    </div>
                                    <div class="col-md-6 z-index-9">
                                        <mat-form-field appearance="fill" class="width-22 f-r">
                                            <mat-label>Entries per page</mat-label>
                                            <mat-select id='entriesPerPage' [(value)]="entriesPerPage" [(ngModel)]="entriesPerPage" (selectionChange)="pagination($event)">
                                                <mat-option value="10">10</mat-option>
                                                <mat-option value="20">20</mat-option>
                                                <mat-option value="35">35</mat-option>
                                                <mat-option value="40">40</mat-option>
                                                <mat-option value="50">50</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="flex-space-between p-20">
                    <span class="fs-20 fw-600">Import Raw Material</span>
                    <button class="btn float-right save" data-toggle="collapse" id="collapseCard" data-target="#import">
                        <span class="fas fa-plus"></span>&nbsp;&nbsp;Import Raw Material
                    </button>
                </div>
                <div class="row ml-20 mr-20">
                    <div class="col-md-12">
                        <div class="collapse" id="import">
                            <div class="card-body">
                                <form class="importRawMaterialForm" [formGroup]="importRawMaterialForm">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <mat-form-field appearance="fill">
                                            <mat-label>Raw Material Name</mat-label>
                                                <mat-select class="fs-15 fw-400" formControlName="import_raw_material_name" (selectionChange)="importRawMaterialChange($event)" #singleSelect>
                                                    <mat-option>
                                                        <ngx-mat-select-search [formControl]="rawMaterialFilterCtrl" placeholderLabel="Search here!"></ngx-mat-select-search>
                                                    </mat-option>
                                                    <mat-option *ngFor="let data of filteredRawMaterialName | async" [value]="data.raw_material_name">
                                                        {{ data.raw_material_name }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-3">
                                            <mat-form-field class="form-field">
                                                <mat-label>Raw Material Quantity</mat-label>
                                                <input matInput formControlName="raw_material_quantity" [(ngModel)]="unit" (keyup)="printNumber()">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-3">
                                            <mat-form-field class="form-field">
                                                <mat-label>Raw Material Unit</mat-label>
                                                <input matInput [readonly]="true" formControlName="import_raw_material_unit">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-3">
                                            <mat-form-field class="form-field">
                                                <mat-label>DD MMMM YY</mat-label>
                                                <input matInput class="bg-white cursor-pointer" formControlName="import_raw_material_date" [matDatepicker]="newPicker" (click)="newPicker.open()" #newDate>
                                                <mat-datepicker #newPicker></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    </div><br>
                                    <div class="float-right">
                                        <button type="submit" class="btn save" (click)="importRawMaterial()"><span class="fas fa-save"></span>&nbsp;&nbsp;Import Raw Material</button>
                                        <button type="reset" class="btn cancel" data-toggle="collapse" data-target="#import"><span class="fas fa-times"></span>&nbsp;&nbsp;Cancel</button>
                                        <button type="reset" class="btn reset"><span class="fas fa-redo"></span>&nbsp;&nbsp;Reset</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <br> -->
                <hr>
                <div class="row ml-20 mr-20">
                    <div class="col-md-12">
                        <div class="card-body">
                            <div class="col-md-12">
                                <mat-search-bar class="form-group m-0 m-5 f-r" [(ngModel)]="value1" type='text' name="importRawMaterialName" [(ngModel)]="importRawMaterialName" (ngModelChange)="searchImport()" placeholder="Search Raw Material Name">
                                </mat-search-bar>
                            </div>
                            <div class="table-responsive">
                                <table id="example" class="table">
                                    <thead class="text font-weight-bold">
                                        <th>#</th>
                                        <th>Date</th>
                                        <th>Raw Material Name</th>
                                        <th>Quantity</th>
                                        <th>Unit</th>
                                        <th>Action</th>
                                    </thead>
                                    <ng-container *ngIf="isProgressBarImport">
                                        <tr class="border-none">
                                            <td colspan="6"> 
                                                <mat-progress-bar mode="indeterminate">   
                                                </mat-progress-bar>
                                            </td>
                                        </tr>
                                    </ng-container>
                                    <ng-container *ngIf="isDataImport">
                                        <tr class="align-items-center m-20 text-center">
                                            <td colspan="6"> 
                                               <p class="fs-16 fw-400 mt-20">No Data Available.</p>
                                            </td>
                                        </tr>
                                    </ng-container>
                                    <ng-container *ngIf="isTableImport">
                                        <tbody *ngFor="let data of importRawMaterialData | paginate: {id:'paginationImport',itemsPerPage:entriesPerPageImport,currentPage:pImport}; let i = index">
                                            <tr>
                                                <td>{{ data.index }}</td>
                                                <td>{{ data.import_raw_material_date | date: 'dd/MMMM/yyyy' }}</td>
                                                <td>{{ data.import_raw_material_name }}</td>
                                                <td >{{ data.raw_material_quantity }}</td>
                                                <td>{{ data.import_raw_material_unit }}</td>
                                                <td>
                                                    <button mat-stroked-button class="ml-3" (click)="deleteImportRawMaterial(data.raw_material_id,data.tbl_import_raw_material_id,data.import_raw_material_name,data.raw_material_quantity,data.import_raw_material_date)"><span class="fa fa-trash c-red"></span></button>
                                                </td>
                                            </tr><br>
                                        </tbody>
                                    </ng-container>
                                </table>
                                <ng-container *ngIf="isTableImport">
                                    <div class="row">
                                        <div class="col-md-6 mt-3">
                                            <pagination-controls id="paginationImport" class="f-l" (pageChange)="pImport = $event">
                                            </pagination-controls>
                                        </div>
                                        <div class="col-md-6 z-index-9">
                                            <mat-form-field appearance="fill" class="width-22 f-r">
                                                <mat-label>Entries per page</mat-label>
                                                <mat-select id='entriesPerPageImport' [(value)]="entriesPerPageImport" [(ngModel)]="entriesPerPageImport" (selectionChange)="paginationImport($event)">
                                                    <mat-option value="10">10</mat-option>
                                                    <mat-option value="20">20</mat-option>
                                                    <mat-option value="35">35</mat-option>
                                                    <mat-option value="40">40</mat-option>
                                                    <mat-option value="50">50</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>