<mat-tab-group class="card">
    <!-- Mail Service -->
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="fas fa-sliders-h"></mat-icon>&nbsp;&nbsp;
            Mail Service
        </ng-template>
        <app-mail-service></app-mail-service>
    </mat-tab>
    <!-- Send Mail -->
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="far fa-share-square"></mat-icon>&nbsp;&nbsp;
            Set Mail
        </ng-template>
        <app-send-mail></app-send-mail>
    </mat-tab>
</mat-tab-group>