<div class="menubar">
  <div class="logo">
    <a href="#"><img class="logo_image" src="/assets/img/logo.png" /></a>
    <div *ngFor="let name of userDetails">
      <span class="row justify-content-center mt-2 fs-16 fw-500">Welcome&nbsp;<b>{{ name.full_name }}</b>
        <a class="ml-10" routerLink="/user-profile" matTooltip="hi" >
          <i class="fas fa-user cursor-pointer"></i>
        </a>
      </span>
    </div>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <ng-container *ngFor="let menuItem of menuItems; let i = index">
        <li routerLinkActive="active" class="nav-item">
          <!-- {{ menuItem.role.some(ur => user_role.split(',').indexOf(ur) > -1) }} -->
          <a class="nav-link" [routerLink]="[menuItem.path]" *ngIf="getUserRole(menuItem)">
            <span class="{{ menuItem.icon }} fs-18"></span>
            <span class="fs-18 fw-400 ml-3">{{ menuItem.title }}</span>
          </a>
        </li>
      </ng-container>
    </ul>
  </div>
</div>