<div class="menubar">
  <div class="logo">
    <a href="#"><img class="logo_image" src="/assets/img/logo.png" /></a>
    <div *ngFor="let name of userDetails">
      <span class="row justify-content-center mt-2 fs-16 fw-500">Welcome&nbsp;<b>{{ name.full_name }}</b></span>
    </div>
  </div>
  <div class="sidebar-wrapper">
    <div *ngIf="isMobileMenu()">
      <ul class="nav navbar-nav nav-mobile-menu">
        <li class="dropdown">
          <a class="nav-link mr-3 c-black fs-18 ml-30" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-cog"></i>&nbsp;&nbsp;Setting</a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <li class="dropdown-item cursor-pointer box-shadow fs-16 fw-400" routerLink="/dashboard/user-profile"><i class="fas fa-user"></i>&nbsp;&nbsp;User Profile</li>
            <li class="dropdown-item cursor-pointer box-shadow fs-16 fw-400" routerLink="/auth/reset-password"><i class="fas fa-redo"></i>&nbsp;&nbsp;Reset Password</li>
            <li class="dropdown-item cursor-pointer box-shadow fs-16 fw-400" (click)="logOut()"><i class="fas fa-power-off"></i>&nbsp;&nbsp;Logout</li>
          </div>
        </li>
      </ul>
    </div>
    <ul class="nav">
      <ng-container *ngFor="let menuItem of menuItems; let i = index">
        <li routerLinkActive="active"  class="nav-item">
          <a class="nav-link" [routerLink]="[menuItem.path]" *ngIf="menuItem.role.indexOf(user_role) > -1">
            <span class="{{ menuItem.icon }} fs-18"></span>
            <span class="fs-18 fw-400 ml-3">{{ menuItem.title }}</span>
          </a>
        </li>
      </ng-container>
    </ul>
  </div>
</div>