<div class="row row-title">
    <div class="col-md-6">
        <span class="fs-20 fw-600 p-20">Advance Salary</span>
    </div>
    <div class="col-md-6">
        <button mat-flat-button class="float-right save" type="button" data-toggle="collapse" id="collapseButton"
            data-target="#advanceSalaryCollapse" aria-expanded="false" aria-controls="collapseExample">
            <span class="fas fa-plus"></span>&nbsp;&nbsp;Add Advance Salary
        </button>
    </div>
</div>
<div class="row ml-20 mr-20" id="print-me">
    <div class="col-md-12">
        <div class="collapse border-none" id="advanceSalaryCollapse">
            <div class="card-body">
                <form class="advanceSalaryForm" [formGroup]="advanceSalaryForm">
                    <div class="row">
                        <div class="col-md-6 align-items-center d-flex">
                            <mat-select class="name fs-15 fw-400" formControlName="staffId" placeholder="Staff Name"
                                (selectionChange)="details($event)" #singleSelect>
                                <mat-option>
                                    <ngx-mat-select-search [formControl]="staffFilterCtrl"
                                        placeholderLabel="Search here!"></ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let data of filteredStaff | async" [value]="data.staff_id">
                                    {{ data.staff_name }}
                                </mat-option>
                            </mat-select>
                        </div>
                        <div class="col-md-6 mt-10">
                            <mat-form-field class="form-field">
                                <input matInput formControlName="advanceSalary" (keyup)="printNumber()" [(ngModel)]="salary" placeholder="Advance Salary">
                            </mat-form-field>
                        </div>
                    </div><br>
                    <ng-container *ngIf="isStaffTable">
                        <div *ngFor="let data of selectedDetails">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="form-field">
                                        <mat-label>Shift</mat-label>
                                        <input matInput [readonly]="true" formControlName="shiftName" [value]="data.shift_name">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="form-field">
                                        <mat-label>Salary</mat-label>
                                        <input matInput [readonly]="true" formControlName="staffSalary" [value]="data.staff_salary">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="form-field">
                                        <mat-label>Department</mat-label>
                                        <input matInput [readonly]="true" formControlName="workAreaName" [value]="data.work_area_name">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="form-field">
                                        <mat-label>Mobile Network Name</mat-label>
                                        <input matInput [readonly]="true" formControlName="masterNetworkServiceProviderName" [value]="data.master_network_service_provider_name">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="form-field">
                                        <mat-label>Mobile Number</mat-label>
                                        <input matInput [readonly]="true" formControlName="number" [value]="data.mobile_number">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <button mat-flat-button type="reset" class="reset pull-right ml-2 c-b" (click)="cancel()"><span class="fas fa-redo"></span>&nbsp;&nbsp;Reset</button>
                    <button mat-flat-button type="reset" data-toggle="collapse" data-target="#advanceSalaryCollapse" class="cancel pull-right ml-2"><span class="fas fa-times"></span>&nbsp;&nbsp;Cancel</button>
                    <button mat-flat-button type="button" class="save pull-right" (click)="insertAdvanceSalary()"><span class="fas fa-save"></span>&nbsp;&nbsp;Advance Salary</button>
                </form>
            </div>
        </div>
    </div>
</div>
<hr class="m-0 mt-15">
<div class="row ml-20 mr-20">
    <div class="col-md-12">
        <div class="card-body">
            <div class="col-md-12">
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead class="text font-weight-bold">
                        <th>#</th>
                        <th>Staff Name</th>
                        <th>Salary</th>
                        <th>Advance</th>
                        <th>Payable</th>
                        <th class="text-align-end">Action</th>
                    </thead>
                    <ng-container *ngIf="isProgressBar">
                        <tr class="border-none">
                            <td colspan="6"> 
                                <mat-progress-bar mode="indeterminate">   
                                </mat-progress-bar>
                            </td>
                        </tr>
                    </ng-container>
                    <ng-container *ngIf="isData">
                        <tr class="align-items-center m-20 text-center">
                            <td colspan="6"> 
                                <p class="fs-16 fw-400">No Data Available.</p>
                            </td>
                        </tr>
                    </ng-container>
                    <ng-container *ngIf="isTable">
                        <tbody *ngFor="let data of advanceSalary | paginate: {id:'pagination',itemsPerPage:entriesPerPage,currentPage:p}; let i = index">
                            <tr>
                                <td>{{ data.index }}</td>
                                <td>{{ data.staff_name }}</td>
                                <td>{{ data.staff_salary }}</td>
                                <td>
                                    <div class="font-weight-bold">
                                        <ng-container *ngFor="let salary of data.total_advance; let i = index">
                                            <div>
                                                {{ i+1 }}.&nbsp;{{ salary }}&nbsp;
                                                <small class="font-weight-bold">
                                                    ({{ data.total[i] }})
                                                </small>
                                            </div>
                                        </ng-container>
                                        <hr>
                                        <span class="font-weight-bold">Total:&nbsp;</span>{{ data.advance }}
                                    </div>
                                </td>
                                <td class="font-weight-bold">{{ data.remaining }}</td>
                                <td class="text-align-end">
                                    <button mat-stroked-button class="ml-3" (click)="deleteAdvanceSalary(data.advance_salary_id)"><span class="fa fa-trash c-red"></span></button>
                                </td>
                            </tr>
                        </tbody>
                    </ng-container>
                </table>
                <ng-container *ngIf="isTable">
                    <div class="row">
                        <div class="col-md-6 mt-3">
                            <pagination-controls id="pagination" (pageChange)="p = $event" class="f-l">
                            </pagination-controls>
                        </div>
                        <div class="col-md-6 z-index-9">
                            <mat-form-field appearance="fill" class="width-22 f-r">
                                <mat-label>Entries per page</mat-label>
                                <mat-select id='entriesPerPage' [(value)]="entriesPerPage"
                                    [(ngModel)]="entriesPerPage" (selectionChange)="pagination($event)">
                                    <mat-option value="10">10</mat-option>
                                    <mat-option value="20">20</mat-option>
                                    <mat-option value="35">35</mat-option>
                                    <mat-option value="40">40</mat-option>
                                    <mat-option value="50">50</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>