<div class="page-not-access">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6 col-md-4">
                <div class="form-container align-self-center">
                    <img src="assets/img/logo.png" width="100%" />
                    <hr />
                    <h2>You're not accessible.</h2>
                    <p>
                        The page you are looking for does not accessible to you. But you can click the button below to go back to the Dashboard.
                    </p>
                    <button type="submit" mat-stroked-button class="btn btn-social bg-green" routerLink="/dashboard">
                        Go to Dashboard
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer class="footer-content"></app-footer>