<div class="main-content">
    <div class="container-fluid">
        <!-- User Profile Card -->
        <ng-container *ngFor="let data of user_details; let i = index">
            <div class="col-md-12">
                <table class="card table table-active">
                    <div class="text-center mt-3 mb-3 fs-18 fw-800">
                        User Profile
                    </div>
                    <tbody>
                        <tr>
                            <th class="fs-14 fw-800">Full Name</th>
                            <td class="fs-14 fw-400">{{ data.full_name }}</td>
                        </tr>
                        <tr>
                            <th class="fs-14 fw-800">User Name</th>
                            <td class="fs-14 fw-400">{{ data.username }}</td>
                        </tr>
                        <tr>
                            <th class="fs-14 fw-800">Email</th>
                            <td class="fs-14 fw-400">{{ data.user_email }}</td>
                        </tr>
                        <tr>
                            <th class="fs-14 fw-800">Contact</th>
                            <td class="fs-14 fw-400">{{ data.user_contact }}</td>
                        </tr>
                        <tr>
                            <th class="fs-14 fw-800">User Role</th>
                            <td class="fs-14 fw-400">
                                <ng-container *ngFor="let role of data.role_name.split(',');let i = index">
                                    <!-- <div> -->
                                        &nbsp;{{ role }},
                                    <!-- </div> -->
                                </ng-container>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-container>
        <!-- Reset Password Botton -->
        <div class="col-md-12">
            <div class="card">
                <button mat-flat-button routerLink="/reset-password">Reset Password</button>
            </div>
        </div>
    </div>
</div>