<div class="main-content">
    <div class="container-fluid">
        <!-- User Profile Card -->
        <div class="card">
            <div class="col-md">
                <div *ngFor="let data of user_details">
                    <form class="form-group p-20 c-black">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Full Name</label>
                                <input type="text" class="form-control bg-white mb-3" value="{{ data.full_name }}" disabled>
                            </div>
                            <div class="col-md-6">
                                <label>Username</label>
                                <input type="text" class="form-control bg-white mb-3" value="{{ data.username }}" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Mail-ID</label>
                                <input type="mail" class="form-control bg-white mb-3" value="{{ data.user_email }}" disabled>
                            </div>
                            <div class="col-md-6">
                                <label>Contact</label>
                                <input type="mail" class="form-control bg-white mb-3" value="{{ data.user_contact }}" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="font-weight-bold">
                                <label>Role</label>
                                <div class="font-weight-bold">
                                    <!-- <ng-container *ngFor="let name of data.role_name"> -->
                                        <div><span class="fas fa-arrow-right"></span>&nbsp;&nbsp;{{ data.role_name }}</div>
                                    <!-- </ng-container> -->
                                </div>
                                <!-- <div>{{ data.role_name }}</div> -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>