<div class="main-content">
    <div class="container-fluid">
        <!-- User Profile Card -->
        <div class="col-md-12">
            <div class="card">
                <div class="m-20">
                    <form [formGroup]="userProfileForm">
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label> Full Name: </mat-label>
                                    <input matInput type="text" [readonly]="true" formControlName="fullName">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label> User Name: </mat-label>
                                    <input matInput type="text" [readonly]="true" formControlName="userName">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label> Email Address:</mat-label>
                                    <input matInput type="text" [readonly]="true" formControlName="email">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label> Contact Number: </mat-label>
                                    <input matInput type="text" [readonly]="true" formControlName="contact">
                                </mat-form-field>
                            </div>
                        </div>
                        <div>
                            <div>
                                <mat-form-field appearance="outline">
                                    <mat-label> User Role: </mat-label>
                                    <textarea matInput style="height: 23px" [readonly]="true" class="width-100"
                                        formControlName="userRole"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Logout -->
        <!-- <div class="col-md-12">
            <div class="card">
                <button mat-flat-button class="cancel" (click)="logout()">Logout</button>
            </div>
        </div> -->
        <!-- Reset Password Botton -->
        <div class="col-md-12">
            <div class="card">
                <button mat-flat-button class="btn cancel" routerLink="/reset-password">Reset Password</button>
            </div>
        </div>
    </div>
</div>